$color-0:red;
$color1:white;
$color2:black;
$color3:#0a9396;;
$color4:#8ecae6;
$color5:#457b9d;
$color6:green;
$color7:#34a0a4;
$color8:#76c893;
$color9:#94d2bd;
$color10:#001219;
$color11:#52b788;
$color12:#1a759f;
$color13:rgb(109, 89, 122);
$color14:rgb(20, 33, 61) ;
$color15: rgb(252, 163, 17);
$color16:rgb(211, 248, 226);
$color17:rgb(229, 229, 229);
$color18:rgb(119, 46, 37);
$hover-1:-10px;
$hover-2:10px;